.main {
    display: grid;
    grid-template-columns: 2fr 10fr;
    border: 2px solid black;
    background-color: aquamarine;
    font-weight: bold;
}

.dialogs {
    border: 1px solid black;
    padding: 10px;
}

.messages {
    line-height: 1.3em;
}

.dialog.a.active{
    color: gold;
}

.messages {
    border: 1px solid black;
    color: darkolivegreen;
    padding: 10px;
}

