.main {
  table {
    border-spacing: 15px;

    tr td:first-child {
      display: flex;
      align-items: center;

      img {
        border-radius: 100%;
      }

      span {
        margin-left: 5px;
      }
    }
  }

  form {
    textarea {
      width: 40%;
      height: 50px;
      resize: none;
      &:first-child {
        margin-right: 10px;
      }
    }

    button {
      display: block;
      padding: 10px 20px;
      font-weight: bold;
      color: white;
      background-color: #51ff37;
      border: 2px solid floralwhite;

      &:disabled {
        background-color: #ff1700;
      }
    }
  }
}