.main {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 40px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 15px;
}

.description .name_status{

}

.name{
    font-weight: bold;
}

.status{

}

.description .country_city{
    font-weight: bold;
}

.country{
    margin-bottom: 0;
}

.city{
    margin-top: 0;
    text-align: end;
}

