.pagesList{
    position: relative;
    width: 1020px;
}

.pagesList span {
    cursor: pointer;
}

.currentPage {
    font-weight: bold;
}

.usersMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 85%;
    padding: 10px;
}

.userItem {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 3.6fr;
    padding: 10px 5px;
    background-color: white;
    opacity: 0.9;
    border-radius: 30px;
}

.userHead {
    padding-left: 5px;
}

.userHead img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.userHead button {
    margin-top: 5px;
    background-color: green;
    color: white;
    font-weight: bold;
}

.userInformation {
    border: 1px black solid;
    max-width: 334px;
    border-radius: 15px;
    padding: 5px;
}

.userInformation p {
    margin: 3px;
    overflow: hidden;
}
