.usersMain {
  .userItem {
    width: 75%;
    margin: 10px auto;
    display: flex;
    border: 1px solid black;
    padding: 10px 5px;
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;

    a {
      text-decoration: none;
      color: black;
    }

    //leftInfo
    & > div:first-child {
      width: 100px;

      img {
        display: block;
        margin: auto;
        height: 60px;
        width: 60px;
        border-radius: 100%;
      }

      button {
        display: block;
        margin: 5px auto 0;
        background-color: green;
        color: white;
        font-weight: bold;
        cursor: pointer;

        &[data-follow='true'] {
          background-color: darkorange;
        }

        &:disabled {
          background-color: grey;
        }
      }
    }

    //rightInfo
    & > div:last-child {
      margin-left: 3%;

      p {
        margin: 3px 0;
        overflow: hidden;
      }
    }
  }
}

@media (min-width: 768px) {
  .usersMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .userItem {
      width: 40%;
      max-width: 300px;
      margin: 10px 0;
    }
  }
}



