.main {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: #777777;
  border: 1px solid black;
  box-shadow: 0 6px 50px 0 rgba(119, 119, 119, 0.7);
  box-sizing: border-box;

  p {
    color: black;
    font-weight: bold;
  }

  .login {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding-right: 10px;

    p {
      margin: 0;
      &:hover {
        box-shadow: 1px 1px 2px black;
      }
    }

    button {
      font-weight: bold;
    }
  }
}





