.main {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > a {
        font-weight: bold;
        color: white;
        text-decoration: none;

        &[class="active"] {
            color: gold;
        }

        .photoFriends {
            & > img {
                width: 25px;
                height: 25px;
                border-radius: 100%;
            }
        }
    }
}
