.main {
    position: absolute;
    left: calc(50vw - 50px);
    transform: translateX(-100%);
    width: 100px;
    height: 100px;
    border: 25px solid #497DDD;
    border-radius: 100px;
    border-right-color: transparent;
    animation: preloader 1s infinite linear;
}

@keyframes preloader {
    from {
        clip-path: circle(76px);
        transform: rotate(0);
    }
    50% {
        clip-path: circle(55px);
    }
    to {
        clip-path: circle(76px);
        transform: rotate(360deg);
    }
}
