.main {
    display: grid;
    grid-template-areas:
            "i n";
    grid-template-columns: 1fr 10fr;
}

.imageFriend {
    grid-area: i;

}

.imageFriend img{
    height: 4em;
    border-radius: 3em;
}

.nameFriend {
    font-weight: bold;
    padding-top: 1em;
    grid-area: n;
}

