.main {
  .head {
    background-color: cornsilk;
    text-align: center;

    & > span {
      font-size: 30px;
      font-weight: bold;
    }
  }

  .profile {
    display: flex;
    margin: 10px;

    .div {
      display: inline-block;
    }

    & > img {
      border-radius: 100%;
      width: 120px;
      height: 120px;
    }

    .profileDescription{
      margin: 0 30px 0 15px;

      .informationText {
        size: 25px;
      }
    }
}







}


