.app-main {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    grid-template-areas:
            "h h"
            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-profile {
    grid-area: c;
    background-color: aqua;
}









