.app {
    display: grid;
    width: 1000px;
    height: 500px;

    grid-template-areas:
            "h h"
            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}








