.app {
  border-style: dashed;
}

.headers {
  background-color: darkgray;
}

.headers-text {
  font-weight: bold;
  color: antiquewhite;
}

.technologies {
  line-height: 2em;
}

.technologies-link {
  list-style-type: decimal;
}
