.main {
  margin-left: 10px;

  .formLogin {
    div {
      margin-bottom: 10px;

      input {
        margin-left: 5px;
      }

      p {
        margin: 0;
        font-size: 14px;
        font-style: italic;
      }
    }

    button {
      font-weight: bold;
      padding: 5px;
    }
  }
}
